<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hustbee</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
<div id="header-holder" class="innerpage lighter">
    <nav id="nav" class="navbar navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="InstaWeb"></a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                            <ul class="nav navbar-nav navbar-nav-centered">
                                <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Servicio de Hosting</a>
                                    <div class="dropdown-menu custom-dropdown-menu">
                                        <div class="dropdown-items-holder">
                                            <div class="items-with-icon">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="webhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server1.svg" alt=""></span>
                                                            <span class="text">Web Hosting</span>
                                                        </a>
                                                        <a href="cloudhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server2.svg" alt=""></span>
                                                            <span class="text">Cloud Hosting</span>
                                                        </a>
                                                        <a href="vpshosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server3.svg" alt=""></span>
                                                            <span class="text">VPS Hosting</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="wordpresshosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server4.svg" alt=""></span>
                                                            <span class="text">Wordpress Hosting</span>
                                                        </a>
                                                        <a href="dedicatedhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server5.svg" alt=""></span>
                                                            <span class="text">Hosting Dedicado</span>
                                                        </a>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Soporte</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Páginas</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="about.html">Nosotros</a></li>
                                        <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                        <li><a class="dropdown-item" href="privacy.html">Politicas de Privacidad</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right other-navbar">
                                <li class="nav-item">
                                    <a class="nav-link btn-client-area" href="login.html"><img src="images/lock.svg" alt="">Area de Cliente</a>
                                    <div class="chat-info"><i class="hstb hstb-right-arrow"></i>¡Chatea con nosotros!</div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-chat" href="#"><i class="hstb hstb-chat"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Contáctanos / Soporte</div>
                    <div class="page-subtitle">Encuentra el servicio ideal para ti, si tienes dudas ¡Contactanos!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-row container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="search-question-holder">
                    <form>
                        <input class="search-input" type="text" placeholder="Buscar Pregunta"><button class="btn-search"><img src="images/btn-search.svg" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-details container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon grey"><i class="hstb hstb-user"></i></div>
                    <div class="details-holder">
                        <div class="title">Área de Cliente</div>
                        <div class="details">
                            <a href="#">Ingresar</a>
                            <a href="#">Crear un ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon green"><i class="hstb hstb-speech-bubble"></i></div>
                    <div class="details-holder">
                        <div class="title">Llamanos o escribenos</div>
                        <div class="details">
                            <a href="#">Tel: +(51) 924914992</a>
                            <a href="#">¡Escribenos!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon blue"><i class="hstb hstb-speech"></i></div>
                    <div class="details-holder">
                        <div class="title">Envianos un correo</div>
                        <div class="details">
                            <a href="#">ventas@instaweb.com</a>
                            <a href="#">soporte@instaweb.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon purple"><i class="hstb hstb-placeholder"></i></div>
                    <div class="details-holder">
                        <div class="title">Visita nuestas oficinas</div>
                        <div class="details">
                            <a href="#">Certus-Sede central</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="questions container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Preguntas comunes sobre los servicios de InstaWeb </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cards-holder">
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques1">¿Puedo utilizar una tarjeta de débito de prepago cada mes para un sitio web mío?</button>
                        </div>
                        <div id="ques1" class="collapse in">
                            <div class="card-body answer-holder">
                                Por su puesto puedes mantener una tarjeta de debito registrada para que se debite automaticamente o pagar por otros medios de pago de forma mensual, pero debes tener en cuenta que si se presenta un retraso superior a los 20 dias el servicio será suspendido temporalemente.
                            </div>
                        </div>
                    </div>
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques2" class="collapsed">¿Puedo cancelar mi suscripcción?</button>
                        </div>
                        <div id="ques2" class="collapse">
                            <div class="card-body answer-holder">
                                En cualquier momento puedes precindir de nueestros servicios, pero siempre recomendamos migrar la informacion previamente para evitar perdidas de la misma ya que una ves suspendido el servicio no nos hacemos responsables por el almacenamiento de la misma.
                            </div>
                        </div>
                    </div>
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques3" class="collapsed">¿Cómo añadir un dominio existente a mi cuenta?</button>
                        </div>
                        <div id="ques3" class="collapse">
                            <div class="card-body answer-holder">
                                1. Inicie sesión en su cuenta de cPanel.<br>
                                2. Diríjase a la sección de "Dominios" y haga clic en la opción Alias:<br>
                                3. Ingrese el nombre del dominio en la sección "Crear un nuevo alias" y luego haga clic en Añadir dominio.
                            </div>
                        </div>
                    </div>
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques4" class="collapsed">Hosting compartido vs dedicado</button>
                        </div>
                        <div id="ques4" class="collapse">
                            <div class="card-body answer-holder">
                                Saber qué hosting elegir puede ser difícil si te estás iniciando o no estás muy puesto. En este artículo te ayudo a diferenciar entre ellos, para elegir el hosting, primero necesitamos saber qué es un hosting y por qué necesitamos uno.                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-us container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">O déjanos una pregunta personalizada</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-holder">
                    <form>
                        <div class="form-row">
                            <div class="col-xs-12 col-sm-6">
                                <label for="inputName1">Nombre</label>
                                <input id="inputName1" type="text" class="form-control" required>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label for="inputEmail1">Correo</label>
                                <input id="inputEmail1" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <label for="inputSubject1">Tema</label>
                                <div class="select-holder">
                                    <select id="inputSubject1" class="form-control" required>
                                        <option value="" disabled selected>Selecciona el tema</option>
                                        <option>Soporte</option>
                                        <option>Área de ventas</option>
                                        <option>Otro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <label for="inputMessage1">Tu mensaje</label>
                                <textarea id="inputMessage1" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <div class="submit-holder">
                                    <button type="submit" class="hbtn hbtn-blue">Envíar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-links container-fluid">
    <div class="row">
        <div class="col-sm-6 hylink-holder">
            <div class="hylink-box">
                <div class="icon"><img src="images/info.svg" alt=""></div>
                <a href="#" class="link">¡Hablemos!</a>
                <div class="text">Comunicate directamente con alguno de nuestros vendedores</div>
            </div>
        </div>
        <div class="col-sm-6 hylink-holder">
            <div class="hylink-box">
                <div class="icon"><img src="images/chat.svg" alt=""></div>
                <a href="#" class="link">¡Escribenos!</a>
                <div class="text">Déjanos todas tus dudas y con gusto las resolveremos</div>
            </div>
        </div>
    </div>
</div>
<div class="footer container-fluid">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>InstaWeb</h4>
                    <ul>
                        <li><a href="about.html">Nosotros</a></li>
                        <li><a href="about.html">Preguntas frecuentes</a></li>
                        <li><a href="blog.html">Noticias & Blog</a></li>
                        <li><a href="contact.html">Contáctanos</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Hosting</h4>
                    <ul>
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="wordpresshosting.html">Wordpress Hosting</a></li>
                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                        <li><a href="vpshosting.html">VPS Hosting</a></li>
                        <li><a href="dedicatedhosting.html">Hosting dedicado</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Soporte</h4>
                    <ul>
                        <li><a href="login.html">Área de clientes</a></li>
                        <li><a href="#">Tutoriales</a></li>
                        <li><a href="#">Documentación</a></li>
                        <li><a href="#">Foro</a></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu custom-footer-menu">
                    <h4>Contáctanos</h4>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <ul>
                        <li>Tel: +(51) 924 914 992</li>
                        <li><a href="#">Chatea con nostros</a></li>
                        <li><a href="#">Registra un ticket</a></li>
                        <li><a href="#">Nuestras oficinas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-footer-menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Términos y condiciones</a></li>
                            <li><a href="privacy.html">Politicas de privacidad</a></li>
                        </ul>        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">© Copyright 2021 InstaWeb-Certus, todos los derechos reservados</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>