    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-slider">
                        <div class="slide">
                            <div class="row rtl-row">
                                <div class="col-sm-5">
                                    <div class="img-holder">
                                        <img src="images/slide-img1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="b-text">Contamos con el<br>Hosting ideal para ti.</div>
                                    <div class="m-text">Precios desde <span class="bold">S/. 10.00 x mes*</span></div>
                                    <a href="#" class="hbtn hbtn-primary hbtn-lg">Servicios de Hosting</a>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="row rtl-row">
                                <div class="col-sm-5">
                                    <div class="img-holder">
                                        <img src="images/slide-img2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="b-text">Cree su primer<br>sitio web hoy mismo.</div>
                                    <div class="m-text">Precios desde <span class="bold">S/. 10.00 x mes*</span></div>
                                    <a href="#" class="hbtn hbtn-primary hbtn-lg">Comenzar ahora</a>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="row rtl-row">
                                <div class="col-sm-5">
                                    <div class="img-holder">
                                        <img src="images/slide-img3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="b-text">Construya su sitio<br>con el constructor de páginas</div>
                                    <div class="m-text">Precios desde <span class="bold">S/. 10.00 x mes*</span></div>
                                    <a href="#" class="hbtn hbtn-primary hbtn-lg">Leer más</a>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features container-fluid">
    <div class="container">
        <div class="row rtl-row">
            <div class="col-sm-5">
                <div class="img-holder">
                    <img src="images/feature1.png" alt="">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="feature-info">
                    <div class="feature-title">Alojamiento para cada sitio web</div>
                    <div class="feature-text">Contamos con un servicio especializado segun los requerimientos y necesidades de cada cliente, nuestra mayor prioridad es brindarte el mayor beneficio asegurando el menor costo posible para ti y tu empresa.</div>
                    <div class="feature-link"><a href="#" class="hbtn hbtn-default">¡Comenzar ahora!</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="img-holder">
                    <img src="images/feature2.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 def-aligned">
                <div class="feature-info">
                    <div class="feature-title">¿Tienes prisa? ¡Empecemos!</div>
                    <div class="feature-text">Nuestro eficiente sistema de almacenamiento te permite desplegar tu sitio web en instantes, contanto en todo momento con asesoria personalizada.</div>
                    <div class="feature-link"><a href="#" class="hbtn hbtn-default">¡Comenzar ahora!</a></div>
                </div>
            </div>
        </div>
        <div class="row rtl-row">
            <div class="col-sm-5">
                <div class="img-holder">
                    <img src="images/feature3.png" alt="">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="feature-info">
                    <div class="feature-title">Crece con nosotros</div>
                    <div class="feature-text">Lo que nos diferencia de la competencia es que contamos con un servicio exclusivo segun el tamaño de tu empresa asegurandote asi que solo pagarás por lo que utilices pudiendo renovar tu plan y aumentar tu almacenamiento con tan solo un click</div>
                    <div class="feature-link"><a href="#" class="hbtn hbtn-default">¡Comenzar ahora!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pricing container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row-title">Nuestros Servicios de Hosting</div>
            </div>
        </div>
        <div class="row custom-padding">
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Web Hosting</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/server1.svg" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Herramientas fáciles de usar</li>
                            <li>Número ilimitado de dominios</li>
                            <li>Perfecto para sitios/blogs pequeños</li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price-info">Comienza por tan solo</div>
                        <div class="price">
                            <span class="currency">S/.</span><span class="num">10.00 </span><span class="duration">x mes</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="webhosting.html">¡Comenzar ahora!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Wordpress Hosting</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/server4.svg" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Aloja hasta 2 sitios web</li>
                            <li>Tiempos de carga más rápidos</li>
                            <li>Panel de control de WP fácil de usar</li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price-info">Comienza por tan solo</div>
                        <div class="price">
                            <span class="currency">S/.</span><span class="num">18.00 </span><span class="duration">x mes</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="wordpresshosting.html">Ver Planes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Cloud Hosting</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/server2.svg" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Hasta 2 veces más rápido</li>
                            <li>4 veces más escalable</li>
                            <li>Panel de control intuitivo</li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price-info">Comienza por tan solo</div>
                        <div class="price">
                            <span class="currency">S/.</span><span class="num">32.00 </span><span class="duration">x mes</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="cloudhosting.html">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">VPS Hosting</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/server3.svg" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Control dedicado</li>
                            <li>Acceso root total</li>
                            <li>Recursos escalables</li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price-info">Comienza por tan solo</div>
                        <div class="price">
                            <span class="currency">S/.</span><span class="num">80.00 </span><span class="duration">x mes</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="vpshosting.html">¡Comenzar ahora!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Hosting Dedicado</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/server5.svg" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Full root access</li>
                            <li>4 core CPU | 8GB RAM | 1TB disco</li>
                            <li>Ancho de banda ilimitado</li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price-info">Comienza por tan solo</div>
                        <div class="price">
                            <span class="currency">S/.</span><span class="num">98.00 </span><span class="duration">x mes</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="dedicatedhosting.html">Ver planes</a>
                    </div>
                </div>
            </div>
                    </div>
    </div>
</div>
<div class="latest-news container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row-title">
                    Ultimas noticias en nuestro blog
                </div>
            </div>
            <div class="col-sm-4">
                <div class="main-btn-holder">
                    <a href="blog.html" class="hbtn hbtn-default">Ver más</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="post-box blue-bg">
                    <div class="post-img"></div>
                    <span class="badge badge-danger">Hot</span>
                    <div class="post-title">Descubra nuestro nuevo constructor de sitios web</div>
                    <div class="post-link"><a href="#">Leer más</a></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="post-box grey-bg">
                    <div class="post-img"></div>
                    <span class="badge badge-info">Hot</span>
                    <div class="post-title">Nuevo centro de datos en Alemania y Estados Unidos</div>
                    <div class="post-link"><a href="#">Leer más</a></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="post-box yellow-bg">
                    <div class="post-img"></div>
                    <span class="badge badge-dark">Hot</span>
                    <div class="post-title">Descubre las ultimas tendencias en creación de sistios web</div>
                    <div class="post-link"><a href="#">Leer más</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
