<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-register-form">
                    <div class="form-holder">
                        <div class="form-row form-head">
                            <div class="col-xs-6">
                                <a class="site-brand" href="/"><img src="images/logo5.png" alt="InstaWeb"></a>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-title"><img src="images/lock.svg" alt="">Area de Clientes</div>
                            </div>
                        </div>
                        <div class="form-row form-links">
                            <div class="col-xs-12">
                                <a href="/users/signin" class="link-to">Ingresar</a> o <a href="/users/signup" class="link-to active">Registrarse</a>
                            </div>
                        </div>
                        <form action="/users/signup" method="post">
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" required name="user" value="{{user}}"> 
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <label>Password</label>
                                    <input type="password" class="form-control" required name="password">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <label>Repetir password</label>
                                    <input type="password" class="form-control" required name="confirm_password">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <label>Correo</label>
                                    <input type="email" class="form-control" required name="email" value="{{email}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <div class="submit-holder">
                                        <button type="submit">Registrarse</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
