<body class="fullpage">
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-register-form">
                    <div class="form-holder">
                        <div class="form-row form-head">
                            <div class="col-xs-6">
                                <a class="site-brand" href="/"><img src="images/logo5.png" alt="InstaWeb"></a>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-title"><img src="images/lock.svg" alt="">Área de cliente</div>
                            </div>
                        </div>
                        <div class="form-row form-links">
                            <div class="col-xs-12">
                                <a href="/users/signin" class="link-to active">Ingresar</a> o <a href="/users/signup" class="link-to">Registrarse</a>
                            </div>
                        </div>
                        <form action="/users/signin" method="post">
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" required name="usuario" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control" required name="contrasena">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-6">
                                    <a href="#" class="forget-link">¿Olvidaste tu contraseña?</a>
                                </div>
                                <div class="col-xs-6">
                                    <div class="submit-holder">
                                        <button type="submit">Ingresar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
